body {
    padding-top: 100px;
}

.highlighted {
    box-shadow: 0px 0px 3px 3px #FF0000;
}

#name-field {
    margin-top: 10px;
    width: 90px;
    float: left;
    position: relative;
    display: block;
    box-sizing: border-box;
    text-align: -webkit-match-parent;
}

.leaderboard-table {
    font-size: 24px;
}